* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    height: 60px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    /* font-family: Roboto Condensed; */
}

nav ul {
    list-style-type: none;
}

.gamecontainer {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(244, 227, 247);
}

.info {
    font-size: 25px;
}

.gameinfo {
    padding: 0 34px;
    font-size: 22px;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 0 13px;
    padding: 1px 25px;
    background-color: rgb(217, 200, 233);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 25px;
}